/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:roots {
  $font-size: 16px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

// main body styling starts here.

body {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  background-color: #0072ff; 
}
h1 {
  text-transform: uppercase;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: white;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mainContainer {
  margin: 0 auto;
}
input {
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
}
.inputContainer {
  margin: 0 auto;
  width: 280px;
  padding: 15px 10px;
  border: 1px solid white;
  i {
    font-size: 20px;
    color: white;
    transition: all 200ms;
    cursor: pointer;
  }
  i:hover {
    transform: rotate(180deg);
  }
}
.inputBox {
  width: 250px;
  height: 25px;
  background-color: #0072ff;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
 color: rgba(255,255,255,0.7);
 font-size: 1.1rem;
 font-family: 'Raleway', sans-serif;
}
.listContainer {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
.draggable {
  text-align: center;
  width: 300px;
  background-color: white;
  margin: 5px 0px;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #0072ff;
  word-wrap: break-word;
  border: 1px solid white;
  // display: inline-block;
}
// .draggable:hover {
//   width: 400px;
//   margin: 0 auto;
// }



